

body{
    margin: 0;
    background: linear-gradient(180deg, rgba(227,255,248,0) 82.08% , rgba(227, 255, 248, 0.38)100%);
    min-height: 100vh;
}

.page{
    width: 1000px;
    margin: 0 auto;
    padding-top: 65px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 58px;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 48px;
    margin: 0;
    padding: 0;
}

nav ul li a{
    text-decoration: none;
    color:#7D7987;
    font-family: "Mulish", sans-serif;
    font-weight: bold;
}

nav ul li a:hover{
    text-decoration: none;
    font-weight: bold;
    color: #1F1534;
    
}

main{
    display: flex;
    justify-content: space-between;
}

section h1{
    font-family: "Mulish", sans-serif;
    font-size: 49px;
    font-weight: normal;
}
section h1 span{
   color: #89C5CC;
   font-family: "Mulish", sans-serif;
   font-weight: bold;

}

section p{
    margin: 40px auto;
    font-family: "Open Sans", sans-serif;
    color: #7D7987;
    font-size: 14px;
}

section button{
    background: #69B99D;
    border: 0;
    padding: 14px 32px 15px;

    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    border-radius: 4px;
    cursor: pointer;
}

section button a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

section button:hover{
    background: #579c84;
}

footer{
    margin-top: 82px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    color: black;
    font-weight: normal;
    font-size: 14px;
}

footer a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

footer a:hover{
    color: rgb(32, 32, 32);
}


#balls{
    position: fixed;
    right: 0;
    bottom: 0;
}
